html {
  min-height: 100%;background-color: #1d1d1d;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
  /* background-image: linear-gradient(70deg, #047714 0%, #04db24 52%, #047714 100%); */
  min-height: 100%;
  /* padding-bottom: 5rem; */
  background-color: #1d1d1d;

  /*141414*/
}
.contenedor{
  display: flex !important;
  background-color: #1d1d1d;
  /* color: #29f8ff; */
}

